
  /* this allows to have the border taking the whole page of top container */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.top-container {
    color: #fff;
    background-color: #1F2937;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.top {
    border: 1px solid #fff;
    width: 900px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.links {
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-start;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.thead2 {
    margin: 0 20px;
}

.sub-top-container {
    color: #fff;
    background-color: #1F2937;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}
  
.sub-top {
    width: 900px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.sub-top-item {
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    height: 100px;
}



